<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div align="center">
                    <img alt="imagen paypal"  src="assets/img/Paypal.png">
                </div>
                <hr>
                <div align="center">
                    Ahora se cuenta con la opción de pago por medio de PayPal. El cual es un método de pago en línea que te sigue vayas donde vayas. Paga como quieras. Asocia tus tarjetas de crédito a tu cuenta PayPal y, cuando quieras pagar, simplemente inicia sesión con tu correo electrónico y contraseña y elige la tarjeta que deseas usar para hacer el pago.
                </div>
            </div>
        </div>
    </div>
</div>