<div class="card-header card-header-primary">
    <h4 class="card-title">Mi perfil</h4>
</div>
<div class="card-body">
    <form>
        <div class="row">
            <div class="col-md-4">
                <mat-form-field class="example-full-width">
                    <input [disabled]="true" matInput placeholder="Nombre Empresa:">
                </mat-form-field>
            </div>
            <div class="col-md-5">
                <mat-form-field class="example-full-width">
                    <input [disabled]="true" matInput placeholder="Representante legal:">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input [disabled]="true" matInput placeholder="Nombre de usuario:">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input [disabled]="true" matInput placeholder="E-mail:">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="example-full-width">
                    <input [disabled]="true" matInput placeholder="Ciudad: Pereira">
                </mat-form-field>
            </div>
        </div>
        <button type="submit" mat-raised-button class="btn btn-primary pull-right">Borrar Cuenta</button>
        <div class="clearfix "></div>
    </form>
</div>