<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="container py-3">
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="accordion" id="faqExample">
                                <div class="card">
                                    <div class="card-header p-2" id="headingOne">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                              Pregunta: ¿Que requisitos se deben de cumplir para poder registrarse como cliente?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>

                                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Para el registro sólo necesita un correo electrónico 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingTwo">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                          Pregunta: ¿Cualquier empresa puede ser participe de este concurso?
                                        </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Sí, si cumple con los términos y condiciones
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                              Pregunta: ¿El pago de paquetes es sólo de forma virtual?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Es por plataformas de pago online, y estas ya cuentan con tarjetas o transferencias.
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingFour">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                              Pregunta: ¿Cuáles son los beneficios que obtengo al comprar un paquete?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Se especifican en el proceso cuando se está realizando la compra del paquete 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingFive">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                Pregunta: ¿Con cuántos paquetes cuenta la plataforma?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Por el momento cuenta con tres(3) paquetes
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingSix">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                Pregunta: ¿Cuál es la vigencia de la compra de un paquete?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Se especifica en el proceso de la compra del paquete
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingSeven">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                Pregunta: ¿Que evidencia se da cuando se realiza la compra de un paquete?
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> Se genera un documento con las especificaciones de pago y puede ser descargado en pdf.
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="card">
                                    <div class="card-header p-2" id="headingEight">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                                                Pregunta: 
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong> 
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header p-2" id="headingNine">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                                Pregunta: 
                                            </button>
                                        </h5>
                                        <hr>
                                    </div>
                                    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#faqExample">
                                        <div class="card-body">
                                            <strong><b>Respuesta:</b></strong>  
                                        </div>
                                    </div>
                                </div>-->
                                
                            </div>

                        </div>
                    </div>
                    <!--/row-->
                </div>
                <!--container-->
            </div>
        </div>
    </div>
</div>